<nav class="navbar navbar-expand-sm navbar-light bg-primary" style="color: white" th:fragment="site-nav">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/home">home</a></li>
            <li class="nav-item"><a class="nav-link" href="/hello">hello</a></li>
            <li class="nav-item"><a class="nav-link" href="/posts">posts</a></li>
            <li class="nav-item"><a class="nav-link" href="/roll-dice">roll</a></li>
            <!--        <li sec:authorize="isAuthenticated()">-->
            <!--            <form th:action="@{/logout}" th:method="post">-->
            <!--                <button class="btn">Logout</button>-->
            <!--            </form>-->
            <!--        </li>-->
        </ul>
    </div>

</nav>